@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}
:focus{
  outline: none;
}
.heading{
  @apply font-michroma font-semibold text-darkBlue text-3xl
}
.nav-links li a{
  @apply font-medium font-roboto text-base text-[#626262] capitalize
}
.label{
  @apply text-darkBlue text-base font-roboto font-medium
}
.input{
  @apply w-full py-3 px-3 border border-solid border-[#d1d1d1] rounded-lg
}
.flipper-container{
  position:relative;
  margin:auto;
  perspective:1000;
  width:100%;
  height:380px;
  overflow: hidden;
}
.linear-bg::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #1D1C1C 100%);
}
.flip{
  height:100%;
  width:100%;
  transform-style:preserve-3d;
  transition:all 1s;
}
.flipper-container:hover .flip{
  transform:rotateY(180deg);
  box-shadow: 0px 10px 10px #aaa;
}
.face{
  position:absolute;
  height:100%;
  width:100%;
  backface-visibility:hidden;
  overflow: hidden;
}
.face.back {
  /* display: block; */
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  background-color:#498CA8;
  border-radius: 12px;
}
.about-bg{
  background-color: transparent;
  background-image: linear-gradient(180deg, #DBDBDB 0%, #FDFCFC 100%);
  background-attachment: fixed;
}
/* .slick-prev, .slick-next{
  z-index: 10;
}
.slick-prev::before, .slick-next::before {
  font-size: 0px !important
}
.slick-slide{
  padding-left: 15px;
  padding-right: 15px;
} */
/* .service1{
  background-image: url("../../public/assets/service1.jpg");
} */