@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:focus {
  outline: none;
}

.container {
  @apply w-[90%] mx-auto
}

.heading {
  @apply text-[22px] lg:text-[28px] lg:leading-[36px] font-bowler text-dark uppercase
}

.nav-links li {
  @apply cursor-pointer
}

.nav-links li a {
  @apply font-geometria font-medium text-base text-[#a2a5ad] capitalize cursor-pointer transition delay-100 ease-in-out
}

.nav-links li:hover a {
  @apply text-dark
}

.label {
  @apply text-dark text-sm font-geometria font-light
}

.input {
  @apply w-full py-2 lg:py-3 px-3 border border-solid border-[#d1d1d1] rounded-lg
}

.flipper-container {
  position: relative;
  margin: auto;
  perspective: 1000;
  width: 100%;
  height: 328px;
}

.card-overley::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(128, 198, 243, 0.4)
}

.linear-bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #1D1C1C 100%);
}

.flip {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 1s;
}

.flipper-container:hover .flip {
  transform: rotateY(180deg);
  box-shadow: 0px 10px 10px #aaa;
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.face.back {
  /* display: block; */
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: #485059;
  text-align: center;
  background-color: #F7F7F9;
  border-radius: 10px;
}

.about-bg {
  background-color: transparent;
  background-image: linear-gradient(180deg, #E9E9E9 0%, #F7F7F9 100%);
}

.contact-bg {
  background-image: url('../../public/assets/contact2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.contact-bg::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(128, 198, 243, 0.3)
}
@media screen and (max-width: 992px) {
  .flipper-container {
    height: 320px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: #F7F7F9;
  }

  .contact-bg {
    background-image: none;
  }

  .contact-bg::before {
    background: none;
  }

  .face.back {
    background-color: white;
  }
  .about-bg {
    background-image: none
  }
}
